---
layout: default
title: Home
---
<div class="w-100">
        <h1 class="mb-0">Emanuele
          <span class="text-primary">Dalsasso</span>
        </h1>
        <div class="subheading mb-5">Post-doctoral researcher at CNAM and Télécom Paris
          <p><a href="mailto:emanuele.dalsasso@telecom-paris.fr">emanuele.dalsasso@telecom-paris.fr</a></p>
        </div>
        <p class="lead mb-5">Currently working on deep learning for multi-dimensional SAR image analysis in the
          context of ASTRAL project (Apprentissage StaTistique pour l’imageRie sAr muLtidimensionnelle) with <a href="https://perso.telecom-paristech.fr/tupin/">Florence Tupin</a>,
            <a href="https://perso.univ-st-etienne.fr/deniloic/">Loïc Denis</a>, <a href="https://cedric.cnam.fr/~rambourc/">Clément Rambour</a> and <a href="https://cedric.cnam.fr/~thomen/">Nicolas Thome</a>.
        </p>



        
      </div>



<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>