---
layout: default
title: Home
---
<div class="w-100">
        <h1 class="mb-0">Emanuele
          <span class="text-primary">Dalsasso</span>
        </h1>
        <div class="subheading mb-5">Post-doctoral researcher at ECEO, EPFL
        </div>
          <pre>
            <a href="mailto:emanuele.dalsasso@epfl.ch">emanuele.dalsasso@epfl.ch</a>
            EPFL Valais Wallis
            EPFL ENAC IIE ECEO
            Route des Ronquos 86
            CH-1951 Sion 
          </pre>
        
        <p class="lead mb-5">Since October 2023, the 1st, I am a postdoctoral researcher with the <a href="https://www.epfl.ch/labs/eceo/en/eceo/">ECEO lab</a>
           of EPFL. Working with <a href="https://people.epfl.ch/devis.tuia">Devis Tuia</a>, 
           <a href="https://marcrusswurm.com/">Marc Rußwurm</a>, 
           <a href="https://www.datascience.ch/people/christian-donner/">Christian Donner</a> 
           and <a href="https://www.datascience.ch/people/michele-volpi/">Michele Volpi</a>  on 
          <a href="https://www.datascience.ch/projects/adopt/">ADOPT: AI for Detecting Ocean Plastic Pollution with Tracking</a>, 
          a project founded by the 
          <a href="https://www.datascience.ch/">Swiss Data Science Center</a>.
        </p>
        <div class="subheading mb-5">
          
        </div>



</div>

<h1>
  <div class="social-icons">
    <a href="https://www.linkedin.com/in/emanuele-dalsasso-2b1b19152/">
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="https://github.com/emanueledalsasso/">
      <i class="fa fa-github"></i>
    </a>
    <a href="https://www.researchgate.net/profile/Emanuele_Dalsasso">
      <i class="fab ai ai-researchgate"></i>
    </a>
    <a href="https://scholar.google.com/citations?user=4bfkX98AAAAJ&hl&hl=en&oi=ao">
      <i class="fab ai ai-google-scholar"></i>
    </a>
    <a href="./CV/CV_Emanuele_Dalsasso.pdf">
      <i class="fab ai ai-cv"></i>
    </a>
  </div>
</h1>


<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
