---
layout: default
title: Home
---
<div class="w-100">
        <h1 class="mb-0">Emanuele
          <span class="text-primary">Dalsasso</span>
        </h1>
        <div class="subheading mb-5">Research Scientist at Inria
        </div>
          <pre>
            <a href="mailto:emanuele.dalsasso@inria.fr">emanuele.dalsasso@inria.fr</a>
            Centre Inria de l'Université Grenoble Alpes
            655 Av. de l’Europe, 
            38330 Montbonnot-Saint-Martin, France
            Office H117
          </pre>
        
        <p class="lead mb-5">Since December 2025, I am a research scientist (<em>chargé de recherche</em>) with the <a href="https://team.inria.fr/thoth/">THOTH team</a>
           of <a href="https://www.inria.fr/fr/centre-inria-universite-grenoble-alpes/">Inria Grenoble</a>.
        </p>
        <div class="subheading mb-5">
          
        </div>



</div>

<h1>
  <div class="social-icons">
    <a href="https://www.linkedin.com/in/emanuele-dalsasso-2b1b19152/">
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="https://github.com/emanueledalsasso/">
      <i class="fa fa-github"></i>
    </a>
    <a href="https://www.researchgate.net/profile/Emanuele_Dalsasso">
      <i class="fab ai ai-researchgate"></i>
    </a>
    <a href="https://scholar.google.com/citations?user=4bfkX98AAAAJ&hl&hl=en&oi=ao">
      <i class="fab ai ai-google-scholar"></i>
    </a>
    <!--
    <a href="./CV/CV_Emanuele_Dalsasso.pdf">
      <i class="fab ai ai-cv"></i>
    -->
    </a>
  </div>
</h1>


<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
